include README.md
include LICENSE
include requirements.txt
recursive-include fractalsets *.py
recursive-include docs *.md *.rst
recursive-include examples *.py *.ipynb
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
